body {
  margin: 0;
  background-color: #272727;
}

.navbar {
  width: 100%;
  background-image: linear-gradient(#653E3E, #0C1013);
  padding-left: 10%;
  padding-right: 10%;
}

.grid {
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  z-index: 2;
}

section {
  width: auto;
  height: 600px;
  margin-top: 40px;
  background-image: linear-gradient(#434343, #3B3B3B);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF8781' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF8781' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.history-intro-content {
  height: 350px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  text-align: left;
  padding: 20px;
}

.round-border {
  border-radius: 15px;
}

.brand-icon {
  object-fit: contain;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;

}

#history .icon {
  background: url('imgs/Component.png');
  height: 50px;
  width: 12px;
  display: inline-block;
  background-size: cover;
  float: left;
}

#history img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.carousel-inner .carousel-item {
  height: 600px;
}

.carousel-inner .intro-block {
  background-image: linear-gradient(rgba(208, 208, 208, 0.3), rgba(93, 93, 93, 0.3));
}

.container {
  /* height: 100%; */
  margin-top: 4%;
  overflow: hidden;
  text-align: center;
}

.card {
  border: none;
  overflow: hidden;
  height: 400px;
}

.img-div {
  height: 300px;
  width: auto;
  overflow: hidden;
}

.card img {
  height: 300px;
  object-fit: cover;
}

.card-body {
  background-color: rgba(0, 0, 0, .2);
}

.hidden-btn-learn {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.card .btn {
  position: relative;
  z-index: 2;
  margin-top: 30%;
}

.show-hidden-layer {
  display: inline-block;
}

#contact .card {
  height: 400px;
  margin: 20px;
}

#technique {
  background: linear-gradient(-130deg, #777777 60%, #886565 60%);
  ;
}

.center-align {
  text-align: center;
}

h1 {
  padding-top: 5%;
  color: #E0E1DD;
}

#technique .col-md-4 {
  padding-top: 20px;
}

#footer {
  height: 250px;
  background: radial-gradient(#653E3E, #602424);
}

#footer .company-footer {
  color: #E0E1DD;
  letter-spacing: 2px;
  padding: 15px;
}

p {
  margin: 0;
}

.designer-footer {
  margin-top: 20px;
}

.kao-bg {
  background-image: url('https://github.com/MarkIChen/ZHEN-ZHANG-website/blob/master/public/Imgs/kaoshiung.jpg?raw=true');
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  z-index: 0;
}

#contact {
  text-align: center;
}

#contact .container {
  position: relative;
  z-index: 2;
}

#contact h1 {
  color: white;
}

.map-img {
  width: 270px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.info-div {
  width: 100%;
  height: 367px;
  background-color: rgba(255, 255, 255, 0.3);
}

.find-us-button {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}

.theme-color-red {
  color: #FF8781;
}

@media (max-width: 765px) {
  #landing-page {
    height: 800px;
  }

  #history img {
    display: none;
  }

  #landing-page .intro-block {
    height: 300px;
  }

  #landing-page .carousel-inner .carousel-item {
    height: 800px;
  }

  #technique {
    height: 1400px;
  }

  #contact {
    height: 900px;
  }
}

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  cursor: pointer;
  transition: 0.5;
  text-align: center;
}

.overlay-content-block {
  width: 80%;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  opacity: 0.8;
  text-align: left;
  padding: 40px;
}

.fix-page {
  overflow: hidden;
}

.ver-line {
  background-color: red;
  width: 5px;
  height: 25px;
  display: inline-block;
}

.overlay-content-block p {
  display: inline-block;
  font-size: 2rem;
  margin-left: 3%;
}

.fa-times {
  position: absolute;
  font-size: 2rem;
  right: 13%;
  top: 12%;
}
